
.head {
  background-color: #fff2e1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  height: 100px;
}
.head .title {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
