body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background-color: #fff2e1;
}
#root {
  margin: 0;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  width: 100vw;
  height: 50px;
  background-color: #333;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  bottom: -50px;
}